In [135]:
#import pandas as pd
country="vanuatu"

In [136]:
file_df = pd.read_json(f"{country}.json", encoding="utf-8")

In [137]:
file_df.head(1)

,acq_date,acq_time,bright_t31,brightness,confidence,daynight,frp,instrument,latitude,longitude,satellite,scan,track,type,version
0,2015-01-02,2313,292.5,310.1,13,D,6.0,MODIS,-16.2656,168.1132,Terra,1.0,1.0,2,6.2

In [138]:
new_df= file_df[['acq_date', 'frp']]

In [139]:
new_df.head(1)

     acq_date  frp
0  2015-01-02  6.0

In [140]:
new_df.count()

acq_date    3494
frp         3494
dtype: int64

In [141]:
new_df = new_df.rename(columns={"acq_date":"Date", "frp":"Fire intensity"})
new_df.head(1)

         Date  Fire intensity
0  2015-01-02             6.0

In [142]:
new_df.to_json(f"{country}_fires.json", orient='records')