In [78]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
import datetime as dt  
import pandas as pd


browser = Browser('chrome', headless=True)

Base = declarative_base()

todaysDate = str(dt.date.today())


connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
engine = create_engine(f'postgresql+psycopg2://{connection_string}')
Base.metadata.create_all(engine)
engine.table_names()

date_df = pd.read_sql_query('select acq_date from cleaned_df', con=engine)
date_df


# URL of page to be scraped
url = "https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data#ed-firms-archive"


    
# Retrieve page with the requests module
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup.prettify())

#grab third table (TXT data)
table = soup.find_all('table')[2]
#print(table)

#grab link for 7 days data in the second column (with MODIS 1 km data)
link = table.find_all('a', text='7d')[0]['href']
print(link)       
#print(str(date_df)==todaysDate)

https://firms.modaps.eosdis.nasa.gov/active_fire/c6/text/MODIS_C6_Global_7d.csv

In [79]:
df = pd.read_csv(link)

df.tail()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight
103569,12.231,35.952,312.6,1.5,1.2,2020-02-11,1940,T,85,6.0NRT,291.8,19.8,N
103570,15.559,35.492,301.3,1.4,1.2,2020-02-11,1940,T,40,6.0NRT,284.1,9.9,N
103571,16.259,36.271,301.8,1.2,1.1,2020-02-11,1940,T,44,6.0NRT,288.3,7.8,N
103572,-22.512,45.215,305.1,1.1,1.1,2020-02-11,1930,T,58,6.0NRT,295.1,5.3,N
103573,-21.258,46.787,321.2,1.0,1.0,2020-02-11,1930,T,100,6.0NRT,290.8,20.3,N

In [34]:
#new_df = df.loc[df["acq_date"]==todaysDate]
#new_df.tail(1)

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight
103389,37.352,-120.849,308.3,1.4,1.2,2020-02-11,1835,T,67,6.0NRT,290.5,12.6,D

In [35]:
cleaned_df = df.drop(columns=["scan","track","acq_time","satellite","confidence","version","frp","daynight"])
cleaned_df.tail()

        latitude  longitude  brightness    acq_date  bright_t31
103385    37.502   -120.447       311.1  2020-02-11       287.8
103386    37.333   -120.314       303.0  2020-02-11       290.3
103387    37.336   -120.319       301.3  2020-02-11       290.0
103388    37.354   -120.865       307.6  2020-02-11       290.0
103389    37.352   -120.849       308.3  2020-02-11       290.5

In [36]:
#from sqlalchemy import create_engine

connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
engine = create_engine(f'postgresql+psycopg2://{connection_string}')

In [37]:
engine.table_names()

['Trial_table', 'new_df', 'cleaned_df']

In [38]:
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [39]:
Base.metadata.create_all(engine)
print(cleaned_df.loc[cleaned_df.index[-1], "acq_date"])

2020-02-11

In [40]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [41]:
#The code below is commented because when we run 
#new_df.to_sql('new_df', con=engine, if_exists='replace', index=False)

#if (cleaned_df.loc[cleaned_df.index[-1], "acq_date"]!=todaysDate):
cleaned_df.to_sql('cleaned_df', con=engine, if_exists='replace', index=False)

In [42]:
engine.table_names()

['Trial_table', 'new_df', 'cleaned_df']

In [43]:
#scrapedData = pd.read_sql_query('select * from cleaned_df', con=engine).tail()
#scrapedData
#engine.execute("SELECT * FROM users").fetchall()

        latitude  longitude  brightness    acq_date  bright_t31
103385    37.502   -120.447       311.1  2020-02-11       287.8
103386    37.333   -120.314       303.0  2020-02-11       290.3
103387    37.336   -120.319       301.3  2020-02-11       290.0
103388    37.354   -120.865       307.6  2020-02-11       290.0
103389    37.352   -120.849       308.3  2020-02-11       290.5

In [44]:
#longi = pd.read_sql_query('select longitude from cleaned_df', con=engine)
#dictlongi = longi.to_dict('longi')
#dictlongi

{'longitude': [145.369,
  146.03,
  145.543,
  148.054,
  147.888,
  147.91299999999998,
  147.92600000000002,
  139.47899999999998,
  148.401,
  148.4,
  146.892,
  150.515,
  150.537,
  150.529,
  139.329,
  150.609,
  150.60299999999998,
  140.46200000000002,
  140.474,
  140.511,
  140.46,
  140.472,
  150.767,
  140.3,
  149.809,
  143.861,
  147.877,
  148.842,
  148.841,
  148.83700000000002,
  145.779,
  148.90200000000002,
  148.92700000000002,
  148.87,
  148.89600000000002,
  148.8,
  148.797,
  148.79399999999998,
  149.018,
  148.78799999999998,
  148.886,
  149.253,
  149.013,
  149.012,
  149.041,
  149.04,
  149.066,
  149.03799999999998,
  149.064,
  149.035,
  149.062,
  149.034,
  149.06,
  149.058,
  147.759,
  147.784,
  147.779,
  147.80100000000002,
  149.709,
  149.434,
  149.469,
  149.335,
  149.622,
  149.20600000000002,
  149.894,
  145.303,
  145.297,
  145.248,
  145.24200000000002,
  145.075,
  145.07299999999998,
  -40.247,
  -40.239000000000004,
  -40.249,
  -42.541000000000004,
  -36.466,
  -36.482,
  -35.803000000000004,
  21.948,
  5.977,
  9.635,
  9.205,
  7.369,
  10.942,
  9.985,
  9.994,
  9.984,
  9.993,
  14.033,
  14.046,
  14.039000000000001,
  12.962,
  7.723,
  9.993,
  5.818,
  12.458,
  0.804,
  0.835,
  0.8270000000000001,
  5.869,
  11.745999999999999,
  5.584,
  5.5889999999999995,
  6.523,
  6.6739999999999995,
  6.697,
  6.659,
  6.605,
  4.34,
  4.355,
  8.369,
  7.157,
  7.6610000000000005,
  7.974,
  9.86,
  9.794,
  7.2010000000000005,
  175.34799999999998,
  120.226,
  120.25299999999999,
  120.262,
  120.26100000000001,
  120.25,
  120.13,
  120.088,
  120.098,
  120.10799999999999,
  120.09700000000001,
  120.074,
  120.06299999999999,
  120.059,
  115.895,
  117.833,
  117.84299999999999,
  115.656,
  118.736,
  118.74700000000001,
  121.01799999999999,
  124.833,
  122.962,
  122.76899999999999,
  122.775,
  122.993,
  122.71,
  122.686,
  123.921,
  124.87700000000001,
  124.885,
  125.024,
  125.186,
  124.67200000000001,
  124.275,
  124.98899999999999,
  125.185,
  127.631,
  131.31,
  132.497,
  132.529,
  132.494,
  132.526,
  132.49200000000002,
  132.524,
  132.49,
  132.52200000000002,
  127.43700000000001,
  136.882,
  133.655,
  -59.313,
  -59.567,
  -59.558,
  -60.291000000000004,
  -60.218,
  -57.108000000000004,
  -57.111000000000004,
  -56.66,
  -60.551,
  -63.823,
  -63.833999999999996,
  -58.611000000000004,
  -62.27,
  -62.28,
  -62.281000000000006,
  -60.236999999999995,
  -60.248999999999995,
  -61.98,
  -61.983000000000004,
  -61.994,
  -68.878,
  -60.818999999999996,
  -60.536,
  140.886,
  140.872,
  140.884,
  -5.894,
  -3.94,
  -3.944,
  -3.949,
  -3.9139999999999997,
  -3.952,
  -10.249,
  -12.525,
  -12.715,
  -12.705,
  -12.735,
  -12.679,
  -12.375,
  -15.190999999999999,
  -15.181,
  -11.342,
  -11.332,
  -10.498,
  -10.985,
  -11.205,
  -11.282,
  -11.192,
  -11.284,
  -9.559,
  -9.566,
  -9.551,
  -9.933,
  -11.715,
  -9.863,
  -9.847999999999999,
  -9.804,
  -9.779,
  -12.003,
  -11.904000000000002,
  -11.892999999999999,
  -11.882,
  -9.095,
  -9.101,
  -10.706,
  -8.698,
  -7.192,
  -8.166,
  -8.52,
  150.761,
  148.143,
  148.11700000000002,
  149.512,
  149.51,
  150.61,
  150.608,
  150.627,
  150.535,
  150.529,
  150.52700000000002,
  150.526,
  149.404,
  145.7,
  145.72899999999998,
  149.472,
  148.389,
  148.251,
  148.244,
  148.047,
  148.046,
  145.076,
  149.91899999999998,
  149.945,
  149.359,
  149.921,
  149.202,
  149.165,
  149.164,
  149.19799999999998,
  149.197,
  149.16,
  149.595,
  149.594,
  149.35399999999998,
  149.349,
  149.44899999999998,
  149.715,
  149.681,
  149.709,
  149.673,
  149.707,
  149.918,
  149.942,
  149.351,
  149.35,
  149.378,
  149.711,
  149.252,
  149.743,
  149.704,
  149.245,
  149.736,
  148.963,
  148.929,
  149.704,
  148.963,
  148.92700000000002,
  148.92600000000002,
  149.13,
  148.924,
  148.891,
  148.89,
  148.922,
  149.127,
  148.921,
  148.92,
  148.887,
  148.885,
  148.84,
  148.83700000000002,
  148.806,
  149.014,
  148.805,
  148.87,
  148.83100000000002,
  148.8,
  148.79,
  148.791,
  148.786,
  148.925,
  148.887,
  148.921,
  148.887,
  148.918,
  148.882,
  148.915,
  148.88,
  148.912,
  151.099,
  -76.285,
  -70.66,
  -70.67,
  -70.667,
  -68.058,
  -65.911,
  -65.923,
  -69.17399999999999,
  -69.441,
  -69.443,
  -71.57,
  -67.134,
  -69.866,
  -69.875,
  -68.308,
  -67.68,
  -67.676,
  -67.667,
  -67.678,
  -67.669,
  -67.43,
  -67.426,
  -68.975,
  -68.985,
  -70.415,
  -65.785,
  -65.79899999999999,
  -65.778,
  -65.792,
  -64.094,
  -68.848,
  -64.081,
  -64.1,
  -63.146,
  -69.453,
  -69.462,
  -69.445,
  -69.455,
  -69.419,
  -69.429,
  -69.438,
  -69.456,
  -67.015,
  -67.02600000000001,
  -67.021,
  -70.99,
  -69.967,
  -65.867,
  -65.859,
  -64.87,
  -67.354,
  -67.365,
  -67.817,
  -67.828,
  -67.813,
  -67.824,
  -66.94800000000001,
  -64.513,
  -64.532,
  -64.551,
  -64.54,
  -64.558,
  -67.89,
  -67.90100000000001,
  -63.637,
  -70.585,
  -70.586,
  -66.997,
  -63.563,
  -63.693999999999996,
  -63.716,
  -63.736999999999995,
  -63.543,
  -63.565,
  -63.608999999999995,
  -63.631,
  -63.782,
  -63.611000000000004,
  -63.632,
  -63.461999999999996,
  -63.483999999999995,
  -69.958,
  -69.967,
  -66.399,
  -66.41199999999999,
  -63.47,
  -67.528,
  -67.917,
  -68.17699999999999,
  -68.188,
  -67.08800000000001,
  -67.095,
  -67.086,
  -67.52,
  -64.87,
  -67.234,
  -67.251,
  -67.873,
  -68.298,
  -68.3,
  -68.39,
  -67.513,
  -72.962,
  -73.029,
  -73.04,
  -72.274,
  -72.665,
  -72.092,
  -70.235,
  -76.184,
  -76.186,
  -76.64399999999999,
  -76.986,
  -76.999,
  -67.124,
  -72.089,
  -72.1,
  -72.09,
  -72.101,
  -72.08,
  -72.092,
  -72.10300000000001,
  -72.942,
  102.20700000000001,
  102.219,
  101.94200000000001,
  101.359,
  101.37100000000001,
  101.36399999999999,
  101.376,
  101.601,
  101.67200000000001,
  101.666,
  101.677,
  100.34200000000001,
  100.35600000000001,
  100.37,
  100.383,
  100.34,
  100.353,
  100.367,
  100.33200000000001,
  100.346,
  103.03,
  102.484,
  102.04299999999999,
  99.042,
  100.89,
  100.27600000000001,
  100.272,
  101.25,
  101.262,
  101.249,
  101.26100000000001,
  97.854,
  102.2,
  99.573,
  103.301,
  102.449,
  99.70200000000001,
  97.79899999999999,
  97.792,
  97.682,
  96.86200000000001,
  102.303,
  102.31299999999999,
  102.22,
  100.523,
  102.59700000000001,
  99.387,
  97.014,
  97.035,
  101.757,
  104.285,
  100.646,
  102.31,
  98.40899999999999,
  104.12299999999999,
  104.12100000000001,
  103.81700000000001,
  97.321,
  97.337,
  97.31299999999999,
  97.33200000000001,
  102.471,
  102.48,
  106.229,
  106.241,
  95.10799999999999,
  95.101,
  103.62200000000001,
  104.4,
  97.565,
  101.647,
  104.443,
  101.64,
  101.65,
  104.03299999999999,
  103.935,
  103.944,
  98.646,
  104.035,
  104.464,
  102.93,
  102.919,
  102.929,
  98.406,
  103.23299999999999,
  102.32700000000001,
  102.334,
  103.145,
  105.029,
  105.022,
  105.03200000000001,
  103.32,
  100.586,
  103.626,
  101.236,
  102.053,
  107.228,
  107.242,
  103.351,
  103.36,
  101.897,
  104.005,
  105.485,
  107.46,
  107.47399999999999,
  103.061,
  103.071,
  102.669,
  107.64399999999999,
  107.61,
  98.87799999999999,
  107.385,
  98.86200000000001,
  98.876,
  98.87100000000001,
  98.884,
  102.27600000000001,
  103.25200000000001,
  103.26100000000001,
  107.37899999999999,
  107.39299999999999,
  98.85600000000001,
  105.48899999999999,
  99.544,
  104.649,
  105.844,
  103.441,
  103.45,
  103.552,
  106.462,
  101.557,
  102.73,
  107.8,
  107.794,
  102.083,
  98.958,
  101.44,
  98.823,
  103.066,
  108.007,
  101.792,
  99.73200000000001,
  99.444,
  99.956,
  102.90700000000001,
  108.376,
  104.118,
  99.046,
  99.041,
  99.788,
  100.52799999999999,
  100.521,
  100.53200000000001,
  103.5,
  103.509,
  106.806,
  101.71,
  105.51899999999999,
  105.51700000000001,
  103.956,
  100.806,
  106.42399999999999,
  103.417,
  106.361,
  101.11200000000001,
  106.36,
  106.355,
  106.368,
  96.212,
  106.448,
  99.36200000000001,
  103.089,
  103.007,
  103.789,
  106.851,
  106.865,
  102.12799999999999,
  101.679,
  101.68799999999999,
  105.60700000000001,
  101.667,
  99.78,
  106.934,
  102.59200000000001,
  102.601,
  103.583,
  101.566,
  101.57600000000001,
  101.48,
  100.95700000000001,
  100.75299999999999,
  100.16,
  100.81700000000001,
  101.04899999999999,
  105.54799999999999,
  105.56,
  102.494,
  107.34899999999999,
  105.81,
  104.713,
  104.70700000000001,
  103.54799999999999,
  103.557,
  104.86200000000001,
  104.883,
  104.89299999999999,
  106.49700000000001,
  99.645,
  104.836,
  104.824,
  104.835,
  104.845,
  105.99,
  105.984,
  106.24,
  103.649,
  99.162,
  99.23299999999999,
  102.07,
  104.786,
  98.98100000000001,
  98.992,
  103.787,
  105.06299999999999,
  102.46600000000001,
  105.494,
  105.506,
  107.521,
  105.5,
  107.51700000000001,
  107.53299999999999,
  102.99799999999999,
  104.565,
  101.212,
  102.78200000000001,
  103.59700000000001,
  104.595,
  104.743,
  104.741,
  104.78399999999999,
  104.795,
  106.18299999999999,
  102.927,
  103.97200000000001,
  104.706,
  103.774,
  105.265,
  105.27600000000001,
  106.853,
  106.868,
  103.45,
  105.27,
  105.28200000000001,
  103.961,
  105.632,
  105.64399999999999,
  105.66799999999999,
  105.68,
  106.029,
  106.84700000000001,
  106.861,
  101.26299999999999,
  104.823,
  105.29,
  105.37,
  106.209,
  101.262,
  102.316,
  103.579,
  107.47200000000001,
  107.538,
  104.84,
  104.794,
  104.49799999999999,
  104.54899999999999,
  103.456,
  104.259,
  106.01899999999999,
  106.03200000000001,
  105.524,
  106.10700000000001,
  103.69200000000001,
  105.616,
  107.581,
  105.194,
  105.206,
  105.615,
  106.61200000000001,
  104.85600000000001,
  104.85,
  106.605,
  104.772,
  103.344,
  107.281,
  103.315,
  107.96600000000001,
  104.25,
  105.545,
  107.96,
  103.613,
  104.60799999999999,
  103.61200000000001,
  104.59,
  106.346,
  104.774,
  106.339,
  104.402,
  105.74,
  105.75200000000001,
  106.25399999999999,
  106.26799999999999,
  106.25200000000001,
  106.266,
  103.524,
  103.609,
  103.60799999999999,
  105.77,
  105.78200000000001,
  105.208,
  104.52799999999999,
  104.52600000000001,
  106.368,
  107.678,
  101.98200000000001,
  99.912,
  99.92200000000001,
  107.031,
  99.911,
  99.921,
  107.779,
  106.55,
  105.927,
  105.94,
  104.771,
  104.78200000000001,
  101.56,
  101.88,
  101.889,
  105.147,
  103.03299999999999,
  103.04299999999999,
  106.23700000000001,
  104.818,
  107.348,
  105.917,
  107.36200000000001,
  107.51299999999999,
  107.529,
  103.99700000000001,
  106.723,
  106.738,
  107.555,
  107.55,
  107.56700000000001,
  101.97200000000001,
  103.116,
  106.08,
  107.492,
  99.804,
  105.787,
  105.786,
  104.41799999999999,
  106.215,
  99.07600000000001,
  105.904,
  103.37100000000001,
  101.209,
  101.21799999999999,
  102.671,
  105.887,
  103.47399999999999,
  103.473,
  105.95299999999999,
  104.89299999999999,
  104.904,
  104.891,
  104.90299999999999,
  105.84299999999999,
  105.85600000000001,
  106.19,
  103.46,
  105.31200000000001,
  106.18299999999999,
  104.72200000000001,
  104.73299999999999,
  101.139,
  101.148,
  103.609,
  103.619,
  104.045,
  105.523,
  102.704,
  101.63600000000001,
  102.834,
  104.09700000000001,
  106.236,
  104.756,
  106.079,
  106.645,
  106.566,
  106.561,
  104.125,
  104.13600000000001,
  103.73100000000001,
  103.851,
  104.516,
  99.59200000000001,
  99.603,
  103.897,
  103.90700000000001,
  103.85,
  104.007,
  104.005,
  103.613,
  102.75200000000001,
  102.76100000000001,
  104.37700000000001,
  105.604,
  104.35799999999999,
  104.541,
  104.546,
  104.445,
  104.648,
  104.133,
  104.64,
  104.63799999999999,
  104.023,
  104.75399999999999,
  104.766,
  103.675,
  104.76,
  99.48,
  99.375,
  100.24700000000001,
  100.24600000000001,
  100.255,
  100.324,
  100.323,
  100.314,
  100.781,
  100.74600000000001,
  102.352,
  101.501,
  102.74700000000001,
  102.212,
  102.669,
  102.993,
  103.005,
  101.564,
  101.43700000000001,
  101.574,
  101.791,
  101.243,
  102.98,
  -78.374,
  -78.389,
  109.92399999999999,
  102.839,
  102.837,
  103.916,
  103.993,
  103.98700000000001,
  104.03399999999999,
  104.05,
  104.006,
  109.184,
  114.395,
  136.88,
  136.876,
  -38.854,
  -57.096000000000004,
  -57.104,
  148.731,
  148.72799999999998,
  147.796,
  147.754,
  147.77100000000002,
  147.787,
  147.761,
  121.395,
  121.02799999999999,
  121.29899999999999,
  121.389,
  121.571,
  120.837,
  120.846,
  120.861,
  120.69,
  120.68799999999999,
  117.235,
  118.861,
  116.958,
  117.336,
  117.325,
  119.264,
  115.186,
  118.337,
  118.167,
  117.32700000000001,
  117.28200000000001,
  116.99,
  118.181,
  116.988,
  118.095,
  118.949,
  118.93799999999999,
  114.818,
  117.48,
  117.469,
  116.346,
  116.334,
  117.478,
  117.46700000000001,
  117.77799999999999,
  119.917,
  117.42200000000001,
  117.411,
  118.381,
  120.72399999999999,
  114.818,
  121.728,
  117.036,
  121.20200000000001,
  121.196,
  114.539,
  114.84200000000001,
  118.09700000000001,
  114.325,
  114.31,
  114.546,
  113.78,
  114.555,
  113.789,
  118.46799999999999,
  119.67200000000001,
  119.661,
  115.07799999999999,
  117.734,
  115.075,
  117.65700000000001,
  117.646,
  118.616,
  117.45,
  114.42200000000001,
  117.171,
  113.443,
  117.169,
  116.667,
  117.572,
  117.56200000000001,
  119.15899999999999,
  ...]}

In [80]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
import datetime as dt  
import pandas as pd


browser = Browser('chrome', headless=True)

Base = declarative_base()

todaysDate = str(dt.date.today())


connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
engine = create_engine(f'postgresql+psycopg2://{connection_string}')
Base.metadata.create_all(engine)
engine.table_names()

date_df = pd.read_sql_query('select acq_date from cleaned_df', con=engine)
date_check = date_df["acq_date"].iloc[-1]

# URL of page to be scraped
url = "https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data#ed-firms-archive"

if ((date_check)!=todaysDate):
    # Retrieve page with the requests module
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    #grab third table (TXT data)
    table = soup.find_all('table')[2]
    #print(table)

    #grab link for 7 days data in the second column (with MODIS 1 km data)
    link = table.find_all('a', text='7d')[0]['href']
    #print(link)
    
    df = pd.read_csv(link)
    
    cleaned_df = df.drop(columns=["scan","track","acq_time","satellite","confidence","version","frp","daynight"])
    
    cleaned_df.to_sql('cleaned_df', con=engine, if_exists='replace', index=False) 
    print ("scraped")

else:
    print("table exists")
Mdata = pd.read_sql_query('select * from cleaned_df', con=engine).tail()
Mdata

table exists

        latitude  longitude  bright_ti4    acq_date  bright_ti5
488244 -24.33133  -62.97318       332.4  2020-02-11       293.3
488245 -23.42111  -60.20842       339.5  2020-02-11       303.1
488246 -23.42172  -60.21342       356.7  2020-02-11       307.4
488247 -23.41792  -60.21397       349.9  2020-02-11       301.7
488248 -23.23494  -61.36971       335.1  2020-02-11       304.2

In [70]:
date_df = pd.read_sql_query('select acq_date from cleaned_df', con=engine)
date_check = date_df["acq_date"].iloc[-1]
date_check

'2020-02-11'

In [72]:
todaysDate

'2020-02-11'