In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
import datetime as dt  
import pandas as pd


browser = Browser('chrome', headless=True)

Base = declarative_base()

todaysDate = str(dt.date.today())


connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
engine = create_engine(f'postgresql+psycopg2://{connection_string}')

# URL of page to be scraped
url = "https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data#ed-firms-archive"

while (cleaned_df.loc[cleaned_df.index[-1], "acq_date"]!=todaysDate): 
    
    # Retrieve page with the requests module
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    #grab third table (TXT data)
    table = soup.find_all('table')[2]
    #print(table)

    #grab link for 7 days data in the second column (with MODIS 1 km data)
    link = table.find_all('a', text='7d')[0]['href']
    #print(link)

NameError: name 'cleaned_df' is not defined

In [89]:
df = pd.read_csv(link)

df.tail()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
426722,68.52415,79.94859,367.0,0.52,0.66,2020-02-08,336,N,high,1.0NRT,264.0,45.5,N
426723,67.80537,72.51491,367.0,0.66,0.73,2020-02-08,336,N,high,1.0NRT,251.8,32.2,N
426724,67.79938,72.51031,353.3,0.66,0.73,2020-02-08,336,N,nominal,1.0NRT,246.3,21.9,N
426725,67.80076,72.52680,325.2,0.66,0.73,2020-02-08,336,N,nominal,1.0NRT,247.0,5.9,N
426726,67.80263,72.50922,367.0,0.66,0.73,2020-02-08,336,N,high,1.0NRT,251.6,35.2,N

In [78]:
new_df = df.loc[df["acq_date"]==todaysDate]
new_df.tail(1)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
426726,67.80263,72.50922,367.0,0.66,0.73,2020-02-08,336,N,high,1.0NRT,251.6,35.2,N

In [79]:
cleaned_df = df.drop(columns=["scan","track","acq_time","satellite","confidence","version","frp","daynight"])
cleaned_df.tail()

        latitude  longitude  bright_ti4    acq_date  bright_ti5
426722  68.52415   79.94859       367.0  2020-02-08       264.0
426723  67.80537   72.51491       367.0  2020-02-08       251.8
426724  67.79938   72.51031       353.3  2020-02-08       246.3
426725  67.80076   72.52680       325.2  2020-02-08       247.0
426726  67.80263   72.50922       367.0  2020-02-08       251.6

In [80]:
#from sqlalchemy import create_engine

#connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
#engine = create_engine(f'postgresql+psycopg2://{connection_string}')

In [81]:
engine.table_names()

['Trial_table', 'cleaned_df', 'new_df']

In [82]:
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [83]:
Base.metadata.create_all(engine)
print(cleaned_df.loc[cleaned_df.index[-1], "acq_date"])

2020-02-08

In [48]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [49]:
#The code below is commented because when we run 
#new_df.to_sql('new_df', con=engine, if_exists='replace', index=False)

#if (cleaned_df.loc[cleaned_df.index[-1], "acq_date"]!=todaysDate):
cleaned_df.to_sql('cleaned_df', con=engine, if_exists='replace', index=False)

In [50]:
engine.table_names()

['Trial_table', 'cleaned_df', 'new_df']

In [51]:
scrapedData = pd.read_sql_query('select * from cleaned_df', con=engine).tail()
scrapedData
#engine.execute("SELECT * FROM users").fetchall()

        latitude  longitude  bright_ti4    acq_date  bright_ti5
426722  68.52415   79.94859       367.0  2020-02-08       264.0
426723  67.80537   72.51491       367.0  2020-02-08       251.8
426724  67.79938   72.51031       353.3  2020-02-08       246.3
426725  67.80076   72.52680       325.2  2020-02-08       247.0
426726  67.80263   72.50922       367.0  2020-02-08       251.6

In [52]:
longi = pd.read_sql_query('select longitude from cleaned_df', con=engine)
dictlongi = longi.to_dict('longi')
dictlongi

{'longitude': [7.516369999999999,
  7.626989999999999,
  16.0639,
  5.821969999999999,
  7.49379,
  8.12796,
  7.2907,
  7.29011,
  8.07661,
  6.39697,
  7.394710000000001,
  7.39411,
  5.56071,
  5.56442,
  5.56016,
  5.56388,
  6.822960000000001,
  -2.89387,
  -2.88925,
  -3.14016,
  -3.14085,
  -3.14265,
  -3.13786,
  12.87455,
  13.09929,
  11.46384,
  11.69709,
  11.69626,
  11.92807,
  11.87955,
  12.96688,
  12.96754,
  9.95433,
  9.953660000000001,
  9.95228,
  9.9746,
  9.87525,
  9.87013,
  9.874080000000001,
  0.86408,
  0.50534,
  -3.3128300000000004,
  -3.30153,
  37.60365,
  -0.24569000000000002,
  -0.24896,
  -0.60078,
  -0.59219,
  35.16352,
  35.16557,
  -1.32715,
  6.85158,
  18.935979999999997,
  18.95099,
  174.7218,
  13.277070000000002,
  14.3702,
  14.36331,
  14.372160000000001,
  14.36268,
  14.365639999999999,
  19.290770000000002,
  19.29757,
  19.28915,
  19.29588,
  19.29478,
  19.28799,
  19.08053,
  19.08134,
  19.43199,
  13.474839999999999,
  13.473820000000002,
  13.450420000000001,
  13.449470000000002,
  13.4441,
  13.448520000000002,
  13.44316,
  19.42523,
  19.43226,
  13.24073,
  13.2346,
  6.54548,
  6.54904,
  14.181820000000002,
  14.17879,
  14.18082,
  -3.02829,
  18.60901,
  6.867319999999999,
  18.6095,
  14.57365,
  14.566089999999999,
  14.56935,
  14.5683,
  -6.8282300000000005,
  -6.82211,
  13.7186,
  -6.86004,
  -6.829110000000001,
  -6.82298,
  -6.87328,
  -6.84232,
  -6.8361600000000005,
  -6.86171,
  -6.855519999999999,
  -6.84932,
  -6.843160000000001,
  13.71752,
  -6.828539999999999,
  -6.822439999999999,
  -6.86026,
  -6.83553,
  -6.82942,
  -6.87345,
  -6.84254,
  -6.8364,
  -6.868060000000001,
  -6.86185,
  -6.85568,
  -6.84951,
  5.22255,
  5.172219999999999,
  15.448220000000001,
  14.67085,
  14.6698,
  14.665370000000001,
  14.66875,
  13.257729999999999,
  13.2461,
  13.25146,
  13.262170000000001,
  13.24518,
  13.244279999999998,
  13.24964,
  13.26038,
  6.95678,
  6.959280000000001,
  6.9629,
  -4.7157800000000005,
  -4.77445,
  -4.71765,
  -4.77541,
  15.205979999999998,
  15.492429999999999,
  15.49521,
  15.49409,
  15.50191,
  15.49298,
  15.5008,
  15.504710000000001,
  13.006969999999999,
  13.00858,
  13.009780000000001,
  15.49346,
  15.5013,
  15.505220000000001,
  15.492320000000001,
  15.504079999999998,
  13.01137,
  18.95124,
  7.186319999999999,
  18.95274,
  16.95563,
  14.1571,
  16.73241,
  16.73723,
  13.19224,
  16.735429999999997,
  13.1918,
  13.190829999999998,
  13.17361,
  13.160879999999999,
  13.1663,
  13.15448,
  13.15991,
  13.15349,
  13.78457,
  13.78757,
  13.78387,
  13.7606,
  13.76361,
  13.75964,
  13.76266,
  5.91096,
  5.90689,
  5.910419999999999,
  7.073189999999999,
  7.07147,
  7.0709,
  -7.0761899999999995,
  5.8625300000000005,
  13.70532,
  6.36531,
  6.7868,
  19.06045,
  11.47439,
  11.47564,
  5.93843,
  5.94195,
  5.945469999999999,
  5.94899,
  5.95196,
  13.74404,
  13.747110000000001,
  19.060760000000002,
  5.92325,
  5.926769999999999,
  5.95846,
  13.74664,
  5.91918,
  5.9227,
  5.92975,
  5.92216,
  5.925680000000001,
  5.91864,
  5.9292,
  6.881139999999999,
  -8.462530000000001,
  15.33964,
  5.19412,
  5.187069999999999,
  5.19059,
  5.19764,
  5.20116,
  3.22361,
  3.23483,
  3.2382,
  15.341,
  3.21755,
  3.2332,
  5.26659,
  6.917110000000001,
  3.22872,
  -8.45998,
  3.21698,
  3.2248099999999997,
  6.388730000000001,
  6.38818,
  2.25409,
  2.25841,
  2.26273,
  2.26703,
  2.2713400000000004,
  2.2492,
  2.27078,
  2.27509,
  2.2448599999999996,
  2.25354,
  2.25786,
  2.26218,
  2.26648,
  2.2443,
  2.27454,
  6.74787,
  -8.34731,
  13.65094,
  6.41118,
  6.690919999999999,
  6.41062,
  5.8124,
  9.38149,
  9.38078,
  9.3793,
  -8.34658,
  3.62514,
  3.1254,
  6.89341,
  6.899610000000001,
  5.18044,
  13.94276,
  5.1306,
  13.941120000000002,
  13.944510000000001,
  13.947770000000002,
  13.95094,
  5.13007,
  5.13359,
  13.39569,
  6.84285,
  6.850160000000001,
  6.842280000000001,
  5.13828,
  2.614,
  2.6181400000000004,
  6.6969199999999995,
  6.697210000000001,
  2.61594,
  2.61539,
  2.61484,
  6.12751,
  6.13051,
  2.59364,
  2.61429,
  6.1269599999999995,
  2.59309,
  6.701689999999999,
  2.60438,
  5.93417,
  5.93769,
  5.9336199999999995,
  5.93714,
  5.03017,
  5.0337,
  5.0296400000000006,
  6.60813,
  11.32992,
  11.32953,
  15.48321,
  15.71285,
  2.03838,
  1.19012,
  14.137410000000001,
  5.1592400000000005,
  13.496879999999999,
  13.500020000000001,
  13.49192,
  13.49519,
  6.76836,
  1.47148,
  5.09658,
  5.09649,
  1.46986,
  8.512260000000001,
  5.13301,
  8.51636,
  6.779710000000001,
  6.7755,
  5.91085,
  8.37711,
  15.74279,
  15.738539999999999,
  3.53785,
  -4.4068,
  -4.40266,
  2.96912,
  5.6627,
  14.56725,
  2.9685900000000003,
  6.74308,
  13.446620000000001,
  14.57337,
  -1.79466,
  2.96805,
  13.442120000000001,
  16.17931,
  13.43859,
  6.2449,
  6.24845,
  6.24435,
  6.2479,
  6.25146,
  8.7994,
  17.660989999999998,
  4.856669999999999,
  4.84961,
  17.63579,
  6.68927,
  6.54415,
  6.54718,
  8.68559,
  17.66156,
  13.50165,
  14.42906,
  17.636229999999998,
  2.81276,
  2.81677,
  1.7723400000000002,
  2.81969,
  2.82369,
  -4.52445,
  11.86403,
  5.08148,
  7.168410000000001,
  5.08095,
  13.4127,
  14.44365,
  4.75411,
  7.37795,
  7.381760000000001,
  13.41175,
  -0.15524000000000002,
  4.866969999999999,
  2.67245,
  14.444139999999999,
  5.80175,
  3.07286,
  3.08069,
  6.19262,
  6.20328,
  6.803839999999999,
  2.86252,
  2.858,
  2.86198,
  14.913229999999999,
  5.50437,
  6.606269999999999,
  3.35181,
  3.3474800000000005,
  13.48921,
  13.49209,
  13.49497,
  13.52723,
  3.77127,
  3.1198900000000003,
  13.50743,
  13.510329999999998,
  13.51329,
  13.52926,
  1.6620700000000002,
  3.78919,
  3.78496,
  1.66152,
  1.6660099999999998,
  1.61073,
  13.4181,
  13.997470000000002,
  13.99419,
  13.99289,
  2.44506,
  8.98808,
  13.99624,
  14.00169,
  14.00506,
  9.02247,
  6.914739999999999,
  6.918410000000001,
  12.49821,
  6.917839999999999,
  7.207560000000001,
  9.04762,
  2.70854,
  3.64425,
  9.04983,
  9.048869999999999,
  4.78362,
  4.77956,
  4.7830900000000005,
  9.042869999999999,
  9.04712,
  13.995829999999998,
  13.999120000000001,
  4.7755,
  4.7790300000000006,
  13.99119,
  6.24217,
  7.196680000000001,
  13.99455,
  13.9979,
  14.92731,
  7.1961,
  14.00341,
  7.195539999999999,
  12.495230000000001,
  5.09051,
  7.19497,
  5.08997,
  3.9894,
  6.19918,
  4.8840699999999995,
  6.16314,
  6.20164,
  6.7298800000000005,
  6.72934,
  5.60075,
  4.76806,
  4.77159,
  3.8192,
  3.11329,
  14.577679999999999,
  14.58485,
  4.82292,
  4.82645,
  4.829969999999999,
  4.83702,
  14.07121,
  14.576570000000002,
  4.81533,
  4.8118,
  4.81886,
  4.80775,
  4.8112699999999995,
  6.231730000000001,
  8.88727,
  1.00118,
  6.31203,
  13.98502,
  4.87608,
  12.82194,
  4.8720300000000005,
  6.805389999999999,
  4.86851,
  4.87555,
  4.87907,
  4.86094,
  4.86446,
  4.86798,
  6.8048399999999996,
  4.8604,
  0.99951,
  6.28798,
  7.0991,
  7.10284,
  6.24766,
  6.66765,
  2.04963,
  13.98545,
  3.10902,
  13.464820000000001,
  13.984420000000002,
  9.25968,
  14.791160000000001,
  14.794870000000001,
  9.254,
  9.259089999999999,
  14.10886,
  9.064589999999999,
  7.3143199999999995,
  9.20998,
  4.8342,
  4.83772,
  7.76575,
  9.76464,
  1.78308,
  4.83367,
  4.8371900000000005,
  4.84424,
  1.7825099999999998,
  3.3224199999999997,
  4.84018,
  4.84371,
  3.47115,
  4.93847,
  4.74782,
  13.30918,
  4.71853,
  4.90874,
  11.81103,
  2.4621299999999997,
  2.46372,
  2.46319,
  3.82933,
  11.45208,
  4.58025,
  5.563359999999999,
  6.4663,
  8.31172,
  11.8092,
  3.5956900000000003,
  4.57972,
  -1.03851,
  3.50929,
  3.59515,
  9.17634,
  5.77579,
  8.280669999999999,
  3.47025,
  3.4739999999999998,
  4.46769,
  11.78823,
  3.4697199999999997,
  8.80162,
  8.80609,
  14.043510000000001,
  11.79093,
  14.03924,
  14.042470000000002,
  4.86827,
  4.87178,
  3.20238,
  10.40997,
  8.9055,
  14.03064,
  14.47952,
  5.972230000000001,
  8.807260000000001,
  -3.34913,
  6.65716,
  2.20716,
  4.01056,
  6.6602,
  11.94033,
  4.811780000000001,
  3.25173,
  3.99136,
  3.98719,
  3.9866599999999996,
  6.657960000000001,
  6.661569999999999,
  12.30547,
  7.99443,
  4.55946,
  6.91415,
  4.5554,
  4.55894,
  4.56249,
  6.913589999999999,
  9.66946,
  9.67446,
  4.56246,
  6.914210000000001,
  4.56193,
  3.81029,
  4.5614,
  3.8024400000000003,
  12.29364,
  12.30383,
  7.049289999999999,
  9.67275,
  9.67255,
  0.53925,
  8.30516,
  -4.3116699999999994,
  6.6482,
  5.73212,
  6.64763,
  6.651269999999999,
  12.23731,
  12.231589999999999,
  -6.977180000000001,
  -1.61947,
  12.066139999999999,
  12.07008,
  12.06531,
  12.06925,
  6.97053,
  8.81202,
  11.58868,
  11.598180000000001,
  -8.52115,
  -8.49071,
  11.57953,
  11.59329,
  2.22146,
  4.09819,
  4.10538,
  4.52303,
  4.51895,
  4.56142,
  4.06775,
  6.003480000000001,
  5.06629,
  4.07702,
  4.047619999999999,
  4.0765,
  7.340439999999999,
  8.287339999999999,
  -8.49286,
  8.83453,
  -8.49363,
  4.22956,
  5.87602,
  6.777010000000001,
  6.773339999999999,
  6.78067,
  6.94579,
  7.63885,
  5.87465,
  7.53495,
  2.46591,
  2.2174400000000003,
  7.5343800000000005,
  6.696210000000001,
  2.04651,
  3.9305,
  -2.34669,
  -2.34735,
  7.499789999999999,
  14.47339,
  12.597389999999999,
  11.92936,
  3.8565699999999996,
  3.85604,
  11.19228,
  3.3065,
  3.85186,
  6.637980000000001,
  3.8513300000000004,
  3.8476800000000004,
  3.8519,
  12.59661,
  7.471239999999999,
  11.92784,
  11.93253,
  11.194519999999999,
  2.1539599999999997,
  4.08747,
  4.1444,
  5.206230000000001,
  7.4496,
  5.20919,
  10.3972,
  2.09741,
  4.57355,
  4.57709,
  6.3474,
  7.452310000000001,
  7.4833300000000005,
  4.57656,
  7.455589999999999,
  7.45118,
  2.3881900000000003,
  7.843660000000001,
  2.30914,
  6.48555,
  -8.67196,
  -8.67914,
  -8.66553,
  14.785379999999998,
  5.5903,
  7.43675,
  3.8617,
  7.43618,
  10.54054,
  3.3427800000000003,
  4.07757,
  2.5596900000000002,
  5.60217,
  -4.54895,
  3.1857,
  7.48026,
  13.73691,
  13.730579999999998,
  13.727839999999999,
  13.73572,
  7.4636,
  7.4983699999999995,
  7.0000100000000005,
  4.3917,
  4.416519999999999,
  6.36365,
  7.504919999999999,
  9.50377,
  4.03584,
  7.321110000000001,
  3.38481,
  7.26302,
  3.38556,
  7.263489999999999,
  2.41986,
  7.26675,
  7.266210000000001,
  2.79565,
  6.6285300000000005,
  7.4799,
  7.785880000000001,
  6.65654,
  6.6602,
  6.96984,
  6.65238,
  6.65603,
  -0.90389,
  -0.8995799999999999,
  4.8558699999999995,
  -4.08668,
  -0.90456,
  -0.90025,
  4.85533,
  6.65185,
  7.4543,
  -5.64802,
  6.33293,
  6.3365,
  7.44987,
  4.26831,
  6.89337,
  6.34618,
  4.74442,
  5.7247900000000005,
  7.187930000000001,
  5.139130000000001,
  5.14262,
  5.57634,
  6.3404,
  6.34398,
  -1.8547799999999999,
  -1.84979,
  13.29055,
  13.293510000000001,
  2.21136,
  10.95877,
  1.47291,
  -4.3112900000000005,
  1.4775,
  6.3844199999999995,
  10.95867,
  14.84414,
  6.658739999999999,
  5.63814,
  5.96513,
  11.79208,
  -4.91333,
  13.31652,
  2.25752,
  3.0055099999999997,
  11.79118,
  2.42928,
  4.0363,
  3.4437900000000004,
  4.03576,
  7.555280000000001,
  4.02802,
  6.4393,
  11.79044,
  3.0839,
  3.99515,
  6.43875,
  6.10877,
  6.56157,
  6.56102,
  13.316729999999998,
  -0.9454299999999999,
  -0.94111,
  6.5641,
  13.31579,
  -0.94599,
  4.1544099999999995,
  4.15798,
  2.98124,
  2.9851,
  3.9312400000000003,
  4.13959,
  4.15032,
  4.13906,
  -0.93861,
  2.9845599999999997,
  7.132210000000001,
  -2.9637,
  -0.9434899999999999,
  7.553910000000001,
  7.89975,
  -4.40954,
  -4.4066,
  -4.29429,
  2.08772,
  -4.97555,
  5.90125,
  6.43628,
  7.620889999999999,
  3.5058800000000003,
  -8.37807,
  3.9620800000000003,
  4.2413,
  7.316789999999999,
  1.17746,
  3.9615400000000003,
  4.24434,
  13.27034,
  1.1769100000000001,
  2.42785,
  3.9538,
  2.41512,
  2.42325,
  3.9424699999999997,
  7.680560000000001,
  7.900710000000001,
  13.17665,
  13.17958,
  13.28473,
  13.175270000000001,
  13.17811,
  13.174000000000001,
  13.13765,
  16.02277,
  5.78958,
  13.170110000000001,
  13.17286,
  17.66105,
  4.133719999999999,
  5.78904,
  6.32538,
  6.32895,
  13.16905,
  13.171879999999998,
  6.3284,
  6.331980000000001,
  7.05385,
  6.33143,
  6.33702,
  6.4157,
  7.14929,
  6.2458,
  7.148689999999999,
  13.137039999999999,
  13.17358,
  13.17632,
  13.172429999999999,
  3.9418900000000003,
  4.23182,
  13.16857,
  13.171420000000001,
  13.1742,
  13.184779999999998,
  13.18796,
  2.3426400000000003,
  5.62766,
  5.6311800000000005,
  5.65926,
  5.66277,
  2.3421,
  -3.07937,
  7.54245,
  7.13395,
  2.27993,
  5.68273,
  6.2891,
  7.130210000000001,
  2.25873,
  6.2849699999999995,
  6.38192,
  2.9487400000000004,
  -4.61689,
  3.4519699999999998,
  8.42783,
  4.35891,
  5.69057,
  5.69409,
  3.96184,
  5.68652,
  5.69003,
  5.69356,
  5.69707,
  5.70411,
  5.7076199999999995,
  6.44057,
  13.72926,
  13.732510000000001,
  13.73577,
  2.3294799999999998,
  5.2135,
  5.67547,
  5.686,
  5.69654,
  13.0505,
  13.734620000000001,
  16.86921,
  2.32484,
  5.212969999999999,
  5.64686,
  5.65738,
  5.6714199999999995,
  5.674930000000001,
  5.6925,
  5.69601,
  6.38889,
  10.634319999999999,
  5.64633,
  5.6428199999999995,
  5.649830000000001,
  5.65684,
  5.68846,
  5.6919699999999995,
  5.70953,
  10.62199,
  10.63747,
  5.69144,
  5.709,
  10.63674,
  5.17347,
  5.62474,
  5.64579,
  5.687930000000001,
  5.701969999999999,
  5.7054800000000006,
  6.21548,
  6.29779,
  10.621269999999999,
  10.64062,
  5.64525,
  6.21135,
  6.214930000000001,
  7.73689,
  12.388530000000001,
  -5.06618,
  -0.65289,
  3.90095,
  7.716069999999999,
  -0.65353,
  3.9004199999999996,
  -0.65418,
  14.368170000000001,
  0.54106,
  5.55192,
  2.07348,
  2.0777099999999997,
  6.2714300000000005,
  6.27501,
  6.27088,
  2.0771599999999997,
  6.27034,
  2.0744599999999997,
  2.0739,
  2.0781400000000003,
  2.1993400000000003,
  2.7161,
  7.389239999999999,
  -5.06567,
  2.62689,
  -7.49522,
  3.2970099999999998,
  5.69514,
  ...]}

In [90]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
import datetime as dt  
import pandas as pd
from sqlalchemy.orm import Session


browser = Browser('chrome', headless=True)

Base = declarative_base()

todaysDate = str(dt.date.today())


connection_string = "postgres:Yatish28$@localhost:5432/planetOnFire_db"
engine = create_engine(f'postgresql+psycopg2://{connection_string}')
Base.metadata.create_all(engine)


session = Session(bind=engine)
#cleaned_df.to_sql('cleaned_df', con=engine, if_exists='replace', index=False)

# URL of page to be scraped
url = "https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data#ed-firms-archive"

#while (cleaned_df.loc[cleaned_df.index[-1], "acq_date"]!=todaysDate): 
    
# Retrieve page with the requests module
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup.prettify())

#grab third table (TXT data)
table = soup.find_all('table')[2]
#print(table)

#grab link for 7 days data in the second column (with VIIRS 375 m data)
link = table.find_all('a', text='7d')[1]['href']
#print(link)       

df = pd.read_csv(link)

new_df = df.loc[df["acq_date"]==todaysDate]

cleaned_df = df.drop(columns=["scan","track","acq_time","satellite","confidence","version","frp","daynight"])

engine.table_names()

Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(bind=engine)
cleaned_df.to_sql('cleaned_df', con=engine, if_exists='replace', index=False) 

Mdata = pd.read_sql_query('select * from cleaned_df', con=engine).tail()
Mdata

        latitude  longitude  bright_ti4    acq_date  bright_ti5
427030 -20.59484  126.03612       348.5  2020-02-08       309.8
427031 -20.59584  126.02777       351.0  2020-02-08       310.7
427032 -20.59883  126.00268       319.3  2020-02-08       320.1
427033 -13.87385  136.83179       343.4  2020-02-08       298.5
427034 -13.96687  123.31366       339.9  2020-02-08       277.0

In [102]:
date_df = pd.read_sql_query('select acq_date from cleaned_df', con=engine)
date_df
print(date_df["acq_date"].iloc[-1])

2020-02-08